<div class="row broadcast-row" id="broadcast" style="{hiddenStyle}">
    <div class="col-md-12">
        <iframe id="UstreamIframe" src="//ustream.tv/embed/{ustreamId}" style="width:100%;" height="480"></iframe>
    </div>
</div>