@border-size: 2px;
@avatar-size: 30px;
@avatar-image-size: @avatar-size - (2 * @border-size);
@status-online: #060;
@status-away: #cc0;
@status-dnd: #900;
@status-offline: gray;

.broadcast-opacity-transition {
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.broadcast-shout-container {
  margin: 5px 0;
  position: relative;
  .broadcast-shout-avatar-link {
    .img-circle();
    position: absolute;
    left: 0;
    border: 2px solid @status-offline;
    &.online {
      border: 2px solid @status-online;
    }
    &.away {
      border: 2px solid @status-away;
    }
    &.dnd {
      border: 2px solid @status-dnd;
    }
    &.offline {
      border: 2px solid @status-offline;
    }
    .broadcast-shout-avatar {
      border-radius: inherit;
      display: inline-block;
      vertical-align: top;
      width: @avatar-image-size;
      height: @avatar-image-size;
    }
    .broadcast-shout-avatar-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: black;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      text-align: center;
      line-height: @avatar-image-size;
    }

    .broadcast-shout-avatar-overlay, .broadcast-shout-typing {
      .broadcast-opacity-transition;
    }
  }

  &.isTyping {
    .broadcast-shout-avatar-overlay {
      opacity: 0.6;
    }
    .broadcast-shout-typing {
      opacity: 1;
    }
  }

  .broadcast-shout-content {
    display: inline-block;
    width: 100%;
    padding-left: @avatar-size + 5px;
    font-size: @font-size-base;
    line-height: @font-size-base;
    & > a {
      font-size: @font-size-base + 2px;
      line-height: @font-size-base + 2px;
    }
    & > div {
      margin: 1px 0 3px;
      &:hover .broadcast-shout-options {
        opacity: 1;
      }
      &:last-child {
        margin: 1px 0 0;
      }
    }
    & p {
      margin: 0;
    }

    .broadcast-shout-details {
      &:hover .broadcast-shout-timestamp {
        opacity: 1;
      }

      .broadcast-shout-timestamp {
        .broadcast-opacity-transition;
      }
    }

    .broadcast-shout-options {
      .broadcast-opacity-transition;
    }
  }
}

.broadcast-admin {
  &-feature {
    .broadcast-opacity-transition;
    opacity: 1;

    &.disabled {
      opacity: 0.5;
    }

    & .feature-icon {
      opacity: 0.8;
    }
  }
}